Description
Compute and display Fibonacci series upto n terms where n is a positive integer entered by the user.
You can go here to read about Fibonacci series.
Sample Input:
5
Sample Output:
0
1
1
2
3

In [ ]:
n=int(input())
secondLast=0
last=1
if n>0:
    print(secondLast)
if n>1:
    print(last)
for i in range(3,n+1):
    nextNumber=last+secondLast
    print(nextNumber)
    secondLast=last
    last=nextNumber

5
0
1
1
2
3

Prime Numbers
Description
Determine whether a positive integer n is a prime number or not. Assume n>1.
Display “number entered is prime” if n is prime, otherwise display “number entered is not prime”.
Sample Input:
7
Sample Output:
number entered is prime

In [ ]:
n=int(input())
out=True
for i in range(2,n):
    if(n%i==0):
        out=False
        break
if out==True:
    print("number entered is prime")
else:
    print("number entered is not prime")

Armstrong number
Description
Any number, say n is called an Armstrong number if it is equal to the sum of its digits, where each is raised to the power of number of digits in n.
For example:
153=13+53+33

Write Python code to determine whether an entered three digit number is an Armstrong number or not. 
Assume that the number entered will strictly be a three digit number.
Print "True" if it is an Armstrong number and print "False" if it is not.
Sample Input:
153
Sample Output:
True

In [ ]:
n=int(input())
digits=list(map(int,str(n)))
num=sum(list(map(lambda x:x**3,digits)))
print(num==n)

584
False

Selecting dataframe columns
Description
Write a program to select all columns of a dataframe except the ones specified.
The input will contain a list of columns that you should skip.
You should print the first five rows of the dataframe as output where the columns are alphabetically sorted.

Sample Input:
['PassengerId', 'Pclass', 'Name', 'Sex','Embarked']
Sample Output:

In [ ]:
import pandas as pd
import ast,sys
df=pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/X0kvr3wEYXRzONE5W37xWWYYA/test.csv")
input_str = sys.stdin.read()
to_omit = ast.literal_eval(input_str)
df=df[df.columns[~df.columns.isin(to_omit)]]
print(df.loc[:, sorted(list(df.columns))].head())

Two series
Description
Given two pandas series, find the position of elements in series2 in series1.
You can assume that all elements in series2 will be present in series1.
The input will contain two lines with series1 and series2 respectively.
The output should be a list of indexes indicating elements of series2 in series 1.
Note: In the output list, the indexes should be in ascending order.
Sample Input:
[1,2,3,4,5,6,7]
[1,3,7]
Sample Output:
[0,2,6]

Execution Time Limit
10 seconds

In [ ]:
import ast,sys
import pandas as pd
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)
series1=pd.Series(input_list[0])
series2=pd.Series(input_list[1])
out_list=[pd.Index(series1).get_loc(num) for num in series2]
print(list(map(int,out_list)))

Cleaning columns
Description
For the given dataframe, you have to clean the "Installs" column and print its correlation with other numeric columns of the dataframe.(print df.corr())
You have to do the following:
1. Remove characters like ',' from the number of installs.
2. Delete rows where the Installs column has irrelevant strings like 'Free'
3. Convert the column to int type
You can access the dataframe using the following URL in your Jupyter notebook:
https://media-doselect.s3.amazonaws.com/generic/8NMooe4G0ENEe8z9q5ZvaZA7/googleplaystore.csv
Note: You should try this problem on your own Jupyter notebook before submitting. Do not clean any column other than "Installs".
Sample Output:
            Rating  Installs
Rating    1.000000  0.051355
Installs  0.051355  1.000000
Execution Time Limit
10 seconds

Capitalise
Description
Given a sentence as a string, capitalise the first letter of every word. Output the final sentence after capitalising.

Hint: Since strings are immutable, you need to output a new string.

Example:
Input 1:
I am now a master of Logistic regression
Output 1:
I Am Now A Master Of Logistic Regression
Execution Time Limit
15 seconds

In [ ]:
# Read the input string 
input_string = input()

# Split the string at the white spaces so that you have the individual words
l = input_string.split(" ")

# Declare a new string since you cannot mutate strings in Python
new_s = ""

# Run a loop for all the words
for word in l:
    
# If the first letter of the word is in lowercase, covert it to uppercase by using 
# the ord and chr functions. Note that that order of 'a' is 97 and order of 'A' is
# 65. So to capitalise, you need to subtract 32.
    if(ord(word[0]) >= ord('a') and ord(word[0]) <= ord('z')):
        
# Add the capitalised character to the new string alongwith a white space. Then
# add the rest of the word as well.
        new_s = new_s + " " + chr(ord(word[0]) - 32)
        new_s = new_s + word[1:]
        
# If the first letter is already capital, just add the word to the new string as is 
    else:
        new_s = new_s + " " + word

# Print the new string after doing an lstrip() since the first word was also added
# with a whitespace
print(new_s.lstrip())

Second Maximum Number in a List
Description
Given a list of numbers, find the second largest number in the list.

Note: There might be repeated numbers in the list. If there is only one number present in the list, return 'not present'.

Examples:
Input 1:
[7, 2, 0, 9, -1, 8]
Output 1:
8

Input 2:
[3, 1, 4, 4, 5, 5, 5, 0, 2, 2]
Output 2:
4

Input 2:
[6, 6, 6, 6, 6]
Output 2:
not present
Execution Time Limit
15 seconds

In [ ]:
# Read the input list
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

# Declare two variables max1 and max2 which will contain the maximum and the second
# maximum element. Choose a very small number (like -10000 in this case). You will
# understand why in the next few steps
max1 = -10000
max2 = -10000
    
# Run a loop throughout the length of the loop    
for i in input_list:

# If you encounter a number greater than max1, update the values of both max1 and max2
# max2 will now take the value of max1 and max1 will take the value of i
    if(i > max1):
        max2, max1 = max1, i

# Else if you encounter a number which is less than max1 but greater than max2, just
# update the value of max2
    elif(i < max1 and i > max2):
        max2 = i

# If max1 is equal to max2, or either of max1 and max2 are -10000 (the initial value),
# it means that only one number (repeated several times) is present in the list, so
# print not present. Else print the value of max2
if((max1 == max2) or (max1 == -10000) or (max2 == -10000)):
    print("not present")
else:
    print(max2)

Data Quality
Description
You have a Wholesale Customers dataset. Here are the first few rows of the dataset:
﻿
﻿The last column 'Channel' contains information about the type of channel the items are supplied to. There are only three types of channels - 'Hotel', 'Restaurant', and 'Cafe'. But as you can notice, there are quality issues in the last data. A lot of the times Cafe as been written as 'C', Hotel has been written as 'Hot', etc. Inspect these incorrect values and replace them with their actual full names. 


After this operation, the final column should only have 3 kinds of label - 'Hotel', 'Restaurant', and 'Cafe'. 

The dataframe has already been read to you in the variable 'wholesale'.

The print statement to print the final dataframe has also been provided. You just need to perform the operations for correcting the names present in the last column.

In [3]:
# Importing the Pandas package and reading the data
import pandas as pd
wholesale = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/OkbnaOBqrBXZOpRQw1JGMgaM9/Wholesale_Data.csv')

# Inspecting the first few rows
wholesale.head(10)

# Checking the value counts of the column 'Channel' to see what all values are present
wholesale['Channel'].value_counts()

# Define a function to correct the names. Code self-explanatory
def correction(x):
    if x in ['H', 'Hote', 'Hot']:
        x = 'Hotel'
    elif x in ['C', 'Caffe']:
        x = 'Cafe'
    elif x in ['R', 'Rest']:
        x = 'Restaurant'
    return(x)

# Apply the function written above to the column 'Channel'
wholesale['Channel'] = wholesale['Channel'].apply(lambda x: correction(x))

# Checking the final dataframe
wholesale.head()

# The final print statement. Please don't edit this part. Also don't write any other
# print statement otherwise your answer will not match even if it is correct
print(wholesale['Channel'].value_counts())

Hotel         146
Cafe          123
Restaurant    101
Name: Channel, dtype: int64

Worst Channel
Description
You again have the wholesale dataset but this time it is cleaned. Here are the first few rows:﻿
﻿
Each of the columns except for the column 'Channel' tells you the sales for each kind of product and the 'Channel' column tells you which 'Channel' you're selling to. Your task is to find out which of the three channels has the least total sales (for all the products combined). For example, if the total sales to Cafe, Hotel, and Restaurant turn out to be 1 lakh, 2 lakh, and 3 lakh rupees, you need to print 'Cafe' since it has the lowest sales.

In [4]:
# Import Pandas and read the dataframe
import pandas as pd
wholesale = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/OqwpypRKN09x5GYej2LvVrprn/Wholesale_Data_Cleaned.csv')

# Inspect the dataframe
wholesale.head()
wholesale.shape

# Create a new column 'Total' that contains the sum of all the columns
wholesale['Total'] = wholesale.sum(axis=1)

# Inspect the dataframe again
wholesale.head()

# Group the dataframe using 'Channel' as the index, 'Total' as the values, and 
# 'sum' as the aggfunc
channels = wholesale.pivot_table(index='Channel', values = 'Total', aggfunc = 'sum')

# Check the grouped dataframe
channels.head()

# Sort the grouped dataframe and print the smallest value
print(channels.sort_values(by='Total').index[0])

Restaurant

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  # Remove the CWD from sys.path while we load stuff.